/*primeira sessão*/

.main-content {
    display: inline-block;
    left: 35%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-img-logo {
    height: 70px;
}

.main {
    background-image: url("/img/main-conteudo/back2.png");
    height: 100vh;
}

.main-items {
    align-items: center;
    display: flex;
}

.main-list {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-list a {
    color: var(--apoio6);
    font-size: 1.3rem;
    padding: 5px 25px;
    text-decoration: none;
}

.main-list a:hover {
    color: var(--secundaria);
}

.main-title {
    color: var(--apoio6);
    font-size: 5rem;
    font-weight: 900;
    margin: 0%;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.main-subtitle {
    color: var(--apoio6);
    font-size: 1.5rem;
    font-weight: 400;
    font-weight: 900;
    letter-spacing: .95rem;
    margin: 0%;
    margin-bottom: .5rem;
}

.main-p {
    color: var(--apoio6);
    font-size: 1.2rem;
    margin-bottom: 3rem;
    max-width: 70%;
}

.main-btn {
    border-radius: 50px;
    color: var(--primaria);
    font-family: var(--fonteTitulo);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 20px 30px;
    text-decoration: none;
    transition: .3s ease;
    background-size: 500% 100%;
    background-image: linear-gradient(to left, var(--apoio1),var(--apoio2));
    animation: degrade-animado 10s infinite alternate;
  }
  
  @keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
  }

.main-btn:hover {
    background-color: var(--apoio1);
    color: var(--primaria);
    transition: 0.3s ease;
}

@media (max-width: 1440px) {
    .main-list{
        justify-items: center;
        justify-content: center;
        margin: 0 auto;
}
    .main-content{
        margin-left: 4rem;
    }
    .main{
    background-image: url("/img/main-conteudo/back2.png");
    background-size: cover;
    }
}

@media (max-width: 1280px) {
    .main-list a{
        font-size: 1rem;
}
    .main-title{
        font-size: 4rem;
    }
    .main-p {
        font-size: 1rem 
    }
    .main-subtitle {
        font-size: 1rem;
        letter-spacing: .9rem;
    }
    .main{
    background-size: cover;
    }
}

@media (max-width: 1024px) {
    .main-img-logo {
        height: 40px;
    }
    .main-list a{
        font-size: .7rem;
}
    .main-title{
        font-size: 2.5rem;
        
    }
    .main-p {
        font-size: .7rem 
    }
    .main-subtitle {
        font-size: .7rem;
        letter-spacing: .6rem;
        
    }
    .main{
    background-image: url("/img/main-conteudo/back2.png");
    background-size: cover;
    background-position: 0% 50%;
    }
    
    .main-btn {
        border-radius: 50px;       
        color: var(--primaria);   
        font-family: var(--fonteTitulo); 
        font-size: .8rem;           
        font-weight: 700;           
        padding: 15px 25px;        
    }
}

@media (max-width: 768px) {
    .main-img-logo {
        height: 40px;
    }
    .main-list a{
        font-size: .7rem;
}
    .main-title{
        font-size: 2.5rem;
        
    }
    .main-p {
        font-size: .7rem 
    }
    .main-subtitle {
        font-size: .7rem;
        letter-spacing: .6rem;
        
    }
    .main-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .main{
    background-image: url("/img/main-conteudo/back2.png");
    background-size: cover;
    background-position: 0% 50%;
    }
    
    .main-btn {
        border-radius: 50px;       
        color: var(--primaria);   
        font-family: var(--fonteTitulo); 
        font-size: .8rem;           
        font-weight: 700;           
        padding: 15px 25px;        
    }
}
