/*footer.css*/

:root {
    /* cores */
    --apoio1: #ee7919;
    --apoio2: #ff9a48;
    --apoio3: #FEAD6C;
    --apoio4: #2C2C2C;
    --apoio5: #ccc;
    --apoio6: #f2f2f2;
    --branco: #ffffff;
    --primaria: #1b1b1b;
    --secundaria: #ffa155;
    --texto: #333;
    /* fontes */
    --fonteServices: "Big Shoulders Display", sans-serif;
    --fonteTitulo: "Montserrat", sans-serif;
  }
  


  .btn-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

.btn-whatsapp:hover{
    scale: 1.2;
    transition: .3s ease;
}


.footer {
    align-items: center;
    display: flex;
    gap: 7rem;
    text-align: center;
  }
  
  footer {
    background-color: var(--primaria);
    border-top: 3px solid var(--primaria);
    color: var(--apoio6);
    display: flex;
    justify-content: space-around;
    padding: 40px;
  }
  
  footer h4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    width: 220px;
  }
  
  footer ul li {
    margin-bottom: 0.5em;
  }
  
  footer ul li a {
    color: var(--apoio6);
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer ul li a:hover {
    color: var(--apoio3);
  }
  