/*footer.css*/
footer{
    display: flex;
    justify-content: space-around;
    background-color: #1b1b1b;
    color: #f2f2f2;
    border-top: 3px solid #1b1b1b;
    padding: 40px;
}

.footer{
    display: flex;
    gap: 7rem;
    text-align: center;
    align-items: center;
}


footer h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 1.5rem;
}

footer ul {
    list-style: none;
    padding: 0;
    width: 220px;
}

footer ul li {
    margin-bottom: 0.5em;
}

footer ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #FEAD6C;
}


