/*Servicos.css*/

.title-services{
    color: #1b1b1b;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-family: "Big Shoulders Display", sans-serif;
}

.text-card{
    text-align: center;
}
.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 5rem; 
    gap: 40px; 
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
}


.card {
    position: relative;
    width: 30%; 
    height: 450px;
    background-color: #1b1b1b;
    border: 5px solid #1b1b1b;
    box-shadow: 0px 10px 10px #0000001f;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.img-card {
    width: 95%;
    height: 75%;
    object-fit: cover;
}

.agendamento {
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffa155;
    box-shadow: 0px 10px 10px #0000008a;
    padding: 15px 20px;
    font-weight: bold;
    color: #1b1b1b;
    text-decoration: none;
    cursor: pointer;
}

.agendamento:hover{
    color: #1b1b1b;
    background-color: #ff9a48;
}

.text-card {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    margin-bottom: .5rem;
}

.title-card {
    font-size: 1.1rem;
    font-weight: bold;
    color: #f2f2f2;
    margin-top: 1rem;
    white-space: nowrap;
}

.p-card {
    font-size: 2rem;
    font-weight: bold;
    color: #ccc;
    font-family: "Big Shoulders Display", sans-serif;
    margin-top: .5rem;
}


.services {

    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 150vh; 
    padding: 100px 0; 
    position: relative;
}

.services h1 {
    font-size: 4.5rem; 
    text-transform: uppercase; 
    text-align: center; 
    font-weight: bold; 
    margin: 0; 
    letter-spacing: 2px; 
    position: relative;
    z-index: 2;
}

.link-services{
    background-color: #1b1b1b;
    padding: 25px;
    font-size: 1.2rem;
    border-radius: 50px;
    color: #f2f2f2;
    transition: .3s;
    cursor: pointer;
}

.link-services:hover{
    background-color: #2C2C2C;
}
