/*main e navbar*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
}

.main{
    height: 100vh;
    background-image: url("img/back3.svg");
}

.textura{
    background-image: url("img/t.svg");

}


.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 20px;

}

.nav-items{
    display: flex;
    align-items: center;

}


.nav-list a{
    color: #f2f2f2;
    text-decoration: none;
    padding: 5px 25px;
    font-size: 1.3rem;
}


.img-logo{
    height: 50px;
  
}

.title{
   color: #f2f2f2;
   font-weight: 900;
   font-size: 5rem;
   margin: 0%;
   margin-bottom: 1rem;
   text-transform: uppercase;
}

.subtitle{
    color: #f2f2f2;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0%;
    letter-spacing: .97rem;
    font-weight: 400;
 }

span{
    color: #ffa155;
    font-weight: 900;
    text-transform: uppercase;
}
.p{
    font-size: 1.2rem;
    color: #f2f2f2;
    max-width: 70%;
    margin-bottom: 3rem;
    
}

.btn{
    padding: 20px 30px;
    background-color:#ffa155;
    color: #1b1b1b;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    transition: .3s ease;
}

.btn:hover{
    color: #1b1b1b;
    background-color: #ee7919;
    transition: 0.3s ease;
}

.btn-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

.btn-whatsapp:hover{
    scale: 1.2;
    transition: .3s ease;
}

.content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}



